.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    color: #2a363b;
    font-size: 22px;
  }
  
  .activeLink {
    /* composes: link; */
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 500;
    font-size: 22px;
    color: #2196f3;
  }
  